/* This stylesheet is where to add styles for your Shakespeare Home Page */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Verdana, Courier, monospace, Tahoma, sans-serif; */
  /*your style rules go in here */
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(220, 41, 41);
/* background-image: url('../images/macduffbattle.jpg); */
}

header {
/* border: 1px solid rgb(3, 3, 3); */
background-color: lightgray;
}

h1{
  text-align: center;
}

main {
width: 80%;
max-width: 900px;
margin:12px;
margin-left: auto;
margin-right: auto;
background-color: white;
padding: 3em;
position: relative;
}


section {

}

ul{
margin: .5em 1em;
list-style-position: inside;
}

li{
  margin-bottom: auto;
}

figure {
 width: 60%;
 margin: 0 auto;
 float: right;
 margin-left: 1em;
}

img{
  display: block;
  width: 100%;
  margin: auto;
}

p{
  margin-bottom: 1em;
  color: rgb(0, 0, 0);
  text-align: justify;
  line-height: 1.4em;
}

.playlink {
clear: both;
}

.playlink a {
  color:blue;
  text-decoration: none;
  background-color: rgb(144, 164, 244);
  padding: .5em;
}

footer {
/* border: 1px solid purple; */
  text-align: center;
  position:fixed;
  bottom: 0; 
  width: 100%;
  color:white;
  background-color: lightgray;
  height: 2em;
}





@media (max-width: 600px) {

  figure {
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-left: 0 auto;
   }

main {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
}
body {
  background-color: white;
}




}











